@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My MobileShop</h1>
    <img src="~/man.png"  height="550" width="1150"/><br /><br />
                                                           <img src="~/mm.jpg"  height="550" width="1150"/>
<br />    
</div>
